<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="FlipkartLogin" parallel="tests">
	<test name="FlipkartLogin">
		<parameter name="FlipkartLogin" value="./controller/scripts/"></parameter>
		<classes>
			<class name="Run.KeyDriverUsingXml" ></class>
		</classes>
	</test>
</suite>
